.home-container{
    height: auto;
}
.home-content{
    display: flex;
    justify-content: center;
}
.content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
    padding: 1vw;
    height: 86vh;
    grid-auto-flow: row;
}

.form, .show{
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

.form:hover, .show:hover{
    box-shadow: 1px 1px 20px 2px gray;
}
